/node_modules
/public/orec
/public/hot
/public/storage
/public/page-cache
/storage/*.key
/vendor
/.vscode
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
